*{
    box-sizing: border-box;
    padding: auto;
    margin: 0px;
}
body{
    background-color: white;
    height: 200px;
    flex-wrap: nowrap;
    gap: 100px;
   
    

}
div{
    height: 80px;
    line-height: 30px;
    background-color: rgba(149, 149, 149, 0.222);
   
}
.div1{
    padding-top: 20px;
    color: rgb(76, 60, 60);
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 100px;
}
.button{
    height: 30px;
    width: 80px;
    color: white;
    background-color: rgba(139, 135, 135, 0.499);
}
.text{
    font-size: 50px;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
}
.class1{
    color: rgb(84, 76, 76);
}
.class2{
    color: black;
}