* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.div1 {
    color: #fff;
}

.div1 .header {
    background-color: rgb(123, 37, 123);
    margin-bottom: 10px;
    height: 40px;
    align-items: center;
    display: flex;
}

.div1 .div2 {
    display: flex;
    gap: 10px;
}

.div2 .sidebar {
    flex: 1;
    background-color: red;
    height: 500px;
}

.div2 .content {
    flex: 3;
    background-color: green;
    height: 500px;
}

.div1 .footer {
    margin-top: 10px;
    background-color: rgb(128, 64, 128);
}