*{
    box-sizing: border-box;

}
.container{
    height: 200px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}
.cintainer item{
    
}