.span1{
    color:rgb(223, 10, 10);
}
.class1{
    border: 5px solid rgb(0, 255, 17);
}
.class2{
    background-color: gray;
}
.class3{
    border-left: 6px solid rgb(0, 255, 102);
    background-color: aliceblue;
}
.class4{
    color: darkred;
}
.class5{
    color:crimson;
}
.class6{
    color:blue;
}
.div6{
    background-color: green;
    color: aliceblue;
}