* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.end {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.top {
    width: 100%;
    background-color: rgb(0, 219, 253);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mid {
    width: 100%;
    background-color: rgb(0, 219, 253);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.class3 {
     background-color: rgb(0, 29, 251); 
}
.class1 {
     background-color: rgb(255, 0, 0); 
}
.class2 {
     background-color: orange; 
}
.class4 {
     background-color: rgb(255, 0, 0); 
}
.class5 {
     background-color: rgb(255, 106, 0); 
}
.class3, .class1, .class2, .class4, .class5 {
    width: 49%;
    height: 100px;
    margin-left: 5px;
}
.div2 {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
}
@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        gap: 10px;
    }
    .div2 {
        flex-direction: column;
        align-items: center;
    }
    .top, .class1, .class2, .class3, .class4, .class5 {
        width: 100%;
    }
}